.logo {
    width: 180px;
    height: 180px;
    background-color: #fff;
    border-radius: 100%;
    border: 10px solid #e5e5e5;
    margin: 50px auto;

    img {
        width: 160px;
        padding: 25px 8px 0;
    }
}

.login-bg {
    background-color: #E24725;
}
